<br>
<h1 class="admin-dashboard-title">Admin Dashboard</h1>
<br>
<ul class="admin-dashboard-menu">
  <li><a class="admin-link"  href="/admin/add-product">Add Product</a></li>
  <li><a class="admin-link"  href="/admin/products">View Products</a></li>
  <li><a class="admin-link"  href="/admin/admin-products">List products</a></li>
  <li><a class="admin-link"  href="/admin/orders">View Orders</a></li>
</ul>
