<header>
    
    <div class="bg-light">
    <div class="container menu-head">
      <nav>
        <ul class="nav justify-content-center flex-nowrap">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>

          <% if (session && session.user) { %> <% if (session.user.email ===
          'admin@project.com') { %>
          <!-- Admin Links -->
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaints/allComplaints"
              >View All Complaints</a
            >
          </li>
          <% } else { %>
          <!-- Regular User Links -->
          <li class="nav-item">
            <a class="nav-link" href="/my_orders">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaints/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaints/userComplaints"
              >My Complaints</a
            >
          </li>
          <% } %> <% } %>
          
          <% if(!session.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>

          <% } else { %>

          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>

</header>



